.search-page {
    min-height: 800px;
}

.title-page {
    padding: 10px 0;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 600;
    color: #000;
}

.page-number {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;

    .page-item {
        cursor: pointer;
        display: block;
        margin: 0 5px;
        width: 36px;
        background: #f3f5f7;
        text-align: center;
        height: 36px;
        font-size: 1.4rem;
        line-height: 36px;
        color: var(--text-color);
        border: none;
        text-decoration: none;
        padding: 0;
        user-select: none;

        &:hover {
            background-color: #3f3fdb;
            color: var(--white-color);
        }
    }

}

@media (max-width: 1023px) {
    .search-page__section{
        padding: 0 10px;
    }
    
}