.member-page{
    padding-bottom: 30px;
}

.title{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 400;
    margin: 10px 0;
}
.page-welcome{
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 20px;
}
.list-selections{
    li{
        margin-bottom: 14px;
        font-weight: 400;
        font-size: 1.4rem;
        cursor: pointer;
    }
}
.member-infor{
    margin-bottom: 20px;
    font-size: 1.4rem;
    span{
        font-weight: 600;
    }
}
.changepassword-noti{
    
}