.banner-item {
    color: var(--white-color);
    text-align: center;

    .icon {
        font-size: 4rem;
        margin-bottom: 15px;
        min-height: 40px;
        opacity: 0.9;
    }

    .title {
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 500;
        color: var(--white-color);
        margin-bottom: 10px;
    }

    .slogan {
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 0;
        line-height: 20px;
        color: var(--white-color);
    }
}