.intro-page{
    margin-bottom: 30px;
}
.title{
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 20px;
    text-decoration: none;
}
.text{
    margin-bottom: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}