.title-page{
    background-image: url('https://bizweb.dktcdn.net/100/423/630/files/bg-breadcrumb.jpg?v=1640052952057');
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 304px;
    position: relative;
    z-index: 0;
    color: var(--white-color);
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 30px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 304px;
    text-align: center;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: -1;
    }
    
}
