.search-form{
    display: flex;
    width: 300px;
    background-color: var(--white-color);
    border-radius: 2px;
    overflow: hidden;
    input{
        flex: 1;
        outline: none;
        background-color: transparent;
        height: 42px;
        min-height: 42px;
        line-height: 42px;
        background: transparent;
        outline: none;
        padding: 0 50px 0 20px;
        border: none;
        overflow: hidden;
        border-radius: 0;
        font-size: 14px;
        color: #999ea1;
        font-size: 1.6rem;
        &::placeholder{
            text-transform: initial;
        }
    }
    button{
        border: none;
        padding: 0 15px;
        color: var(--text-color);
        cursor: pointer;
        font-size: 1.6rem;
    }
}