.detail{
    margin-bottom: 30px;
}

.similar-blogs {
    padding: 10px;
    border: 1px solid #e8e8e8;
    margin-bottom: 10px;
    background-color: #fff;

    .similar-title {
        position: relative;
        border-bottom: 1px solid #e2e9e1;
        padding-bottom: 10px;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 10px;
        color: var(--text-color);

        &::before {
            content: "";
            width: 50px;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: #3f3fdb;
        }
    }
}

.blog-item{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    .blog-img{
        width: 80px;
        height: auto;
        img{
            width: 80px;
            height: auto;
            object-fit: cover;
            object-position: center;
            display: block;
        }
    }
    .blog-item__title{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        margin-left: 10px;
        color: var(--text-color);
        font-size: 1.4rem;
        &:hover{
            color: var(--red-color);
        }
    }
}
.text{
    margin-bottom: 16px;
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 400;
}

@media (max-width: 1023px) {
    .detail-blog__section{
        padding: 0 10px;
    }
    .order-1{
        order: 1;
    }
    
}