.notfound-page{
    padding: 8px;
    i{
        font-family: "Verdana";
        font-weight: normal;
        font-size: 14pt;
        color: maroon;
        margin: 16px 0;
        display: block;
    }
    div{
        font-size: 0.7em;
        color: #000;
        margin-bottom: 10px;
        span{
            font-weight: bold;
            
        }
    }
}
.title{
    font-family: "Verdana";
    font-weight: normal;
    font-size: 18pt;
    color: red;
}